body{
    margin: 0;
    font-family: Quicksand, sans-serif;

    font-size: 16px;
    line-height: 27px;
    color: #929292;
}

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* header */
.header {
    width: 1700px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 36px;
    font-weight: bold;
    color: #feffff;
    border-radius: 0 0 21.5px 21.5px;
    background: #0f7bff;
    padding: 25px 35px;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-weight: bold;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    text-decoration: none;
    color: #929292;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #0f7bff;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #0063dd;
    border-radius: 25px;
    padding: 20px 50px;
    background: #0063dd;
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
}


/* INTRO */
.intro {
    width: 100%;
    height: 1045px;
    padding-top: 200px;
    background: url("../img/intro.jpg") center no-repeat;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.intro__title {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.intro_inner{

    margin: 0 auto;
    text-align: center;
}

.intro_parag {

    line-height: 1.5;
    font-weight: normal;
}

.intro__button {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.button__one {
    display: inline-block;
    vertical-align: center;
    padding: 15px 40px;
    border: 1px solid #0f7bff;
    border-radius: 25px;
    font-weight: bold;
    color: #ffffff;
    background: #0f7bff;
    text-decoration: none;
}

.button__two {
    display: inline-block;
    vertical-align: center;
    padding: 15px 40px;
    border: 2px solid #0f7bff;
    border-radius: 25px;
    font-weight: bold;
    color: #0f7bff;
    text-decoration: none;
}

/*features*/

.features {
    background-color: #f5fcfd;
    height: 630px;
}

.features-block {
    display: flex;
    justify-content: space-between;
    padding-top: 165px;
    padding-left: 15px;
    padding-right: 15px;
}
.features-item {
    flex-basis: 30%;
    width: 360px;
    height: 290px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 0 25px 0 rgba(240,240,240,1);
    -moz-box-shadow: 0 0 25px 0 rgba(240,240,240,1);
    box-shadow: 0 0 25px 0 rgba(240,240,240,1);
}

.item-two {
    margin-top: 50px;
}

.features-images {
    display: block;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.features-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.features-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

/* messaging */
.about {
    background-color: #fff;
    height: 1190px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-one {
    margin-left: 95px;
}

.text-two {
    margin-right: 75px;
}

.about-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 59px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 40px;
}

.about-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 555px;
    margin-top: 0;
    margin-bottom: 38px;
}

.about-images {
    width: 800px;
    height: 610px;
    background-image: url('../img/App Screens.png');
    background-repeat: no-repeat;
}

.about-two {
    background-image: url('../img/App Screens2.png');
}

.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 8px;
    height: 3px;
    margin-top: -5px;
    margin-left: 100px;
}
.arrow-1 div {
    position: relative;
    top: -10px;
    width: 20px;
    height: 2px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    right: -2px;
    background-color: #337AB7;
    transform: rotate(45deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    right: -2px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-1:hover {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}


/* works */
.works {
    background-color: #f5fcfd;
    height: 645px;
    padding-top: 150px;
}

.work-title {
    color: #333333;
    font-size: 32px;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
}

.works-description {
    margin: 0;
    padding-bottom: 45px;
}

.works-block {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.works-item {
    flex-basis: 30%;
}

.works-title {
    color: #333333;
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.works-text {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}




.works-images {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


/*pricing*/

.pricing {
    height: 840px;
    background: #fff;
    padding-top: 130px;
}

.pricing-block {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 0;
}
.pricing-item {
    flex-basis: 30%;
}

.pricing-title {
    color: #333333;
    font-size: 32px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: left;
}

.pricing-text {
    padding-top: 160px;
}

.pric-text {
    text-align: left;
    line-height: 27px;
    margin: 0;
    margin-bottom: 40px;
}


.pricing-button {
    text-decoration: none;
    margin: 0;
    background-color: #0f7bff;
    border: 2px solid #0f7bff;
    border-radius: 25px 0 0 25px;
    padding: 14px 50px;
    font-weight: bold;
    color: #fff;
}

.pricing-two {
    background-color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 14px 55px;
    color: #0f7bff;
    margin-left: -20px;
}


.item-block {
    background-color: #fff;
    width: 360px;
    height: 580px;
    padding-top: 40px;
    -webkit-box-shadow: 6px 2px 72px -2px rgba(165,165,165,0.25);
    -moz-box-shadow: 6px 2px 72px -2px rgba(165,165,165,0.25);
    box-shadow: 6px 2px 72px -2px rgba(165,165,165,0.25);
}

.pricing-images {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


.pric-title {
    color: #333333;
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.pricing-p {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 26px;
}

.pricing-price {
    text-align: center;
    color: #0f7bff;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
}
span {
    font-size: 32px;
}

.pricing-item-button {
    text-decoration: none;
    background-color: #0f7bff;
    color: #fff;
    padding: 15px 50px;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    position: relative;
    left: 25%;
    transform: translate(-50%, 0);
}

.button-pric {
    background-color: #fff;
    color: #0f7bff;
}

/*free-trial*/

.free-trial {
    background: #f5fcfd;
    height: 335px;
}

.free-block {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.free-item {
    padding-top: 135px;
    flex-basis: 45%;
}

.free-title {
    font-size: 32px;
    color: #333333;
    margin: 0;
    margin-bottom: 30px;
}

.free-button {
    background-color: #0f7bff;
    border-radius: 5px;
    font-weight: bold;
    padding: 30px 80px 30px 67px;
    color: #fff;
}


.free-1 {
    cursor: pointer;
    position: relative;
    width: 8px;
    height: 3px;
    margin-top: -5px;
    padding-left: 165px;

}
.free-1 div {
    position: relative;
    top: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}
.free-1 div::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    right: -2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.free-1 div::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    right: -2px;
    background-color: #fff;
    transform: rotate(-45deg);
}



/* footer */

.footer {
    background-color: #0f7bff;
    height: 486px;
    width: 100%;
}

.footer-block {
    padding-top: 125px;
    text-align: center;
}

.footer-title {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 35px;
}



input {
    background-color: #0f7bff;

    border: 2px solid #fff;
    border-radius: 30px 0 0 30px;
    padding: 20px 240px 20px 25px;

}

input::-moz-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }


.footer-button {
    color: #0f7bff;
    background-color: #fff;
    padding: 19px 35px 22px 35px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 0 30px 30px 0;
    margin-left: -5px;
    font-weight: bold;

}

hr {
    color: #fff;
    width: 100%;
    padding-left: -30%;
    margin: 0;
    margin-top: 130px;
    margin-bottom: 40px;
}


.footer-copyright {
    color: #fff;
}

.terms {
    color: #fff;
    word-spacing: 36px;
}

